html,body{
    width: 100%;height: 100%;background: #fff;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.head{
    height: 0.8rem;font-size: 0.24rem;line-height: 0.8rem;padding: 0rem 0.3rem;
}
.edit{
    margin: 0rem 0.24rem;border: 0.01rem solid #aaa;border-radius: 0.05rem;
}
.editInner{
    height: 5rem;margin: 0.1rem
}
.edit textarea{
    display: block;width: 100%;height: 100%;font-size: 0.3rem;
    border: none;outline: none;resize: none;line-height: 0.4rem;
}
.uploadBox{
        margin: 0.4rem 0.24rem;
        position: relative;
        border-bottom: 1px solid #aaa;
        line-height: 1.2rem;
        align-items: center;
        display: flex;
}
.choose{
    width: 0.8rem;height: 1rem;display: inline-block;
}
.choose img{
    width: 0.64rem;height: 0.64rem;display: block;margin: 0 auto;
}
.choose p{
    height: 0.36rem;line-height: 0.36rem;text-align: center;font-size: 0.24rem;
}
.kg{
    height: 0.8rem;margin: 0rem 0.24rem;border-bottom: 0.01rem solid #aaa;
}
.kgTip{
    float: left;height: 0.8rem;line-height: 0.8rem;font-size: 0.24rem;
}
.onOff{
    /*width: 0.42rem;height: 0.24rem;line-height: 0.8rem;*/
    float: right;font-size: 0.4rem;line-height: 0.8rem;
}

.send{
    margin: 0.35rem 0.24rem 0rem;
}
.send .ui-btn-primary {
    background-color: #17BB17;
    border-color: #17BB17;
    color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
 .demo-upload-list {
            display: inline-block;
            width: .9rem;
            height: 1rem;
            text-align: center;
            line-height: .6rem;
            border: 1px solid transparent;
            border-radius: 4px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            margin-right: 4px;
        }

        .demo-upload-list img {
            width: 100%;
            height: 100%;
        }

        .demo-upload-list-cover {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, .6);
        }
        .uploadBox{
            padding-bottom: 10px;
        }
        .demo-upload-list:hover .demo-upload-list-cover {
            display: block;
        }
        .deleteicon{
            top: 20px;
            width:20px;
            left: 5px;
        }
        .viewicon{
            top: 20px;
            width:20px;
        }
        .demo-upload-list-cover i {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 0 2px;
            position: absolute;
        }
        .ivu-icon-ios-camera{
               margin-top: -5px;
        }
        .ivu-icon-ios-eye-outline{
                top: 17px;
                left: 1px;
        }
        .ivu-icon-ios-trash-outline{
                top: 16px;
                right: 2px;
        }













