<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>行车路线</title>
    <script src="js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/carline.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="./js/vue.js"></script>

</head>
<body>
    <div id="app">
         <div class="coner">
            <ul class="collection" v-for="student in studentList">
                 <li class="collection-item lineItem">
                    <p><i class="iconfont icon-user user"></i></p>
                    <div class="school">
                        <p>{{student.studentName}}</p>
                        <p class="schoolr">{{student.schoolName}}</p>
                    </div>
                    <div>

                    </div>
                  <i v-if="showId==student.studentId" @click="hideCars" :id="student.studentId" class="iconfont icon-zhankai"></i>
                  <i v-else :id="student.studentId" @click="showCars" class="iconfont icon-xiangshangshouqi"></i>

                </li>
                <li class="collection-item lineItem" v-for="cars in student.carList" v-if="showId==student.studentId" :data-panduan="showId==student.studentId">
                    <i class="iconfont icon-icon_location">
                     </i>{{cars.localName}} <span class="date">{{cars.localTime}}</span>  
                </li>

              
            </ul>
        </div>
    </div>
   <script type="text/javascript">
       var vm=new Vue({
            el:"#app",
            data:function(){
                return {
                    showId:"1",
                    studentList:[
                    {
                        studentName:"张明",
                        studentId:1,
                        schoolName:"张江小学",
                        carList:[{
                            "localName":"黄继光小学",
                            "localTime":"9:00"
                        },
                        {
                            "localName":"黄继光小学",
                            "localTime":"9:00"
                        },
                        {
                            "localName":"黄继光小学",
                            "localTime":"9:00"
                        }
                        ]
                    },
                       {
                        studentName:"刘能",
                        studentId:2,
                        schoolName:"张江小学",
                        carList:[{
                            "localName":"黄继光小学",
                            "localTime":"9:00"
                        },
                        {
                            "localName":"黄继光小学",
                            "localTime":"9:00"
                        },
                        {
                            "localName":"黄继光小学",
                            "localTime":"9:00"
                        }
                        ]
                        }
                    ]
                }
            },
            methods:{
                showCars:function(e){             
                     this.showId=e.currentTarget.id;
                },
                hideCars:function(e){
                    console.log(e.currentTarget.id);
                    this.showId='';
                   

                }
            }
       })

   </script>
</body>
</html>