<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/frozen.css"/>
    <link rel="stylesheet" href="css/page7.css"/>
    <script src="js/jquery-1.11.3.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="css/imgUp.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="js/diyUpload.js"></script>
    <script src="font/iconfont.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/imgUp.js"></script>
    <!-- import Vue.js -->
    <!--<script src="//vuejs.org/js/vue.min.js"></script>-->
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>

</head>
<body>
<div id="app" @click="hiderem">
         <form action=""  enctype="multipart/form-data" >
           <div class="head">10月15日</div>
                <div class="edit">
                    <div class="editInner">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="uploadBox">
                    <div class="demo-upload-list" v-for="item in beforUpload">
                    <template v-if="item.status === 'beforeUp'">
                        <img :src="item.url" @click="handleView(item)" @touchStart="touchstart(item)" @touchEnd="touchend(item)">
                      
                    </template>
                    <template v-else>
                        <Progress v-if="item.showProgress" :percent="item.percentage" hide-info></Progress>
                    </template>
                </div>
                                 <Upload
                                            ref="upload"
                                            :show-upload-list="false"
                                            :default-file-list="defaultList"
                                            :on-success="handleSuccess"
                                            :format="['jpg','jpeg','png']"
                                            :max-size="2048"
                                            :on-format-error="handleFormatError"
                                            :on-exceeded-size="handleMaxSize"
                                            :before-upload="handleBeforeUpload"
                                            multiple
                                            type="drag"
                                            action=""
                                            style="display: inline-block;width:58px;">
                                        <div style="width: 58px;height:58px;line-height: 58px;">
                                            <Icon type="ios-camera" size="20"></Icon>
                                        </div>
                                    </Upload>
                                    <Modal title="View Image" v-model="visible"  title="提示"
                                            @on-ok="cancel"
                                            cancel-text="删除"
                                            @on-cancel=" remove">
                                        <img :src="showurl" v-if="visible" style="width: 100%">
                                    </Modal>
                                   

                                </div>
                                <div class="kg">
                                    <div class="kgTip">需发送收到回执</div>
                                    <div class="onOff">
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="send">
                                    <input value="发送通知" class="ui-btn-lg ui-btn-primary" type="submit" @click="submit"></input>
                                </div>
                    <template>
                            <Modal
                                v-model="modal1"
                                title="提示"
                                @on-ok="cancel"
                                cancel-text="删除"
                                @on-cancel=" remove" >
                                <p>是否删除当前图片</p>
                            </Modal>
                    </template>
         </form>       
          
</div>

<script>
    var vm = new Vue({
        el: "#app",
        data: function () {
            return {
                defaultList: [
                  
                ],
                modal1:false,
                imgList:[],
                imgName: '',
                startTime:'',
                visible: false,
                uploadList: [],
                beforUpload:[],
                ishow:false,
                forda:new FormData(),
                islongTouch:false,
                showRemove:false,
                removeItem:''
            }
        },
        methods: {
            hiderem:function(e){
                this.showRemove=false;
            },
            hideIcon:function(e){
                this.ishow=!this.ishow;
            },
            submit:function (e) {
                console.log('提交信息',this.forda);

              //提交信息
               this.uploadList;
               //提交成功后清楚 预览列表
              this.beforUpload=[];
            },
            touchstart:function(item){
              
            },
            remove:function(){
                const fileList = this.beforUpload;
                this.beforUpload.splice(fileList.indexOf(this.removeItem), 1);
            },
            cancel:function(){

            },
            touchend:function(item){
              
            },
            handleView: function (name) {
                 const fileList = this.beforUpload;
                 this.removeItem=name;
               this.showurl=  fileList[fileList.indexOf(name)].url;
                this.imgName = name;
                this.visible = true;
            },
            handleRemove: function (file) {
                const fileList = this.beforUpload;
                this.beforUpload.splice(fileList.indexOf(file), 1);
                this.forda.delete(file.name);
            },
            handleSuccess: function (res, file) {
                file.url = 'https://o5wwk8baw.qnssl.com/7eb99afb9d5f317c912f08b5212fd69a/avatar';
                file.name = '7eb99afb9d5f317c912f08b5212fd69a';
            },
            handleFormatError: function (file) {
                this.$Notice.warning({
                    title: 'The file format is incorrect',
                    desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
                });
            },
            handleMaxSize: function (file) {
                this.$Notice.warning({
                    title: 'Exceeding file size limit',
                    desc: 'File  ' + file.name + ' is too large, no more than 2M.'
                });
            },
            handleBeforeUpload: function (file) {
                console.log('befor',file.name);
                //用formData 上传图片 对然输出不了但是后台可以接收到，为啥我也不知道
                this.forda.append(file.name,file);
                console.log( 'formData',this.forda)
                console.log(file, "sss", file);
                var imgArray = this.beforUpload;
                 if(imgArray.length>=5){
                     this.$Message.info('一次最多上传5张');
                     return;
                 }
                    var imgpath = URL.createObjectURL(file);
                    var index=imgArray.length;
                    var imgobj = {};
                    imgobj['url'] = imgpath;
                    imgobj['name'] = file.name;
                    imgobj['status']='beforeUp';
                    imgobj['index']=index;
                    imgArray.push(imgobj);
                console.log("imgArray", imgArray);
               this.imgList=imgArray;
                this.beforUpload=imgArray;
                const check = this.uploadList.length < 5;
                if (!check) {
                    this.$Notice.warning({
                        title: 'Up to five pictures can be uploaded.'
                    });
                }
              
                return false;
            }
        },
        mounted: function () {
            this.uploadList = this.$refs.upload.fileList;
        }
    })
</script>
</body>
</html>