<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/frozen.css"/>
    <link rel="stylesheet" href="css/page7.css"/>
    <script src="js/jquery-1.11.3.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="css/imgUp.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="js/diyUpload.js"></script>
    <script src="font/iconfont.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/imgUp.js"></script>
    <!-- import Vue.js -->
    <!--<script src="//vuejs.org/js/vue.min.js"></script>-->
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>

    <style>
        .demo-upload-list {
            display: inline-block;
            width: .9rem;
            height: 1rem;
            text-align: center;
            line-height: .6rem;
            border: 1px solid transparent;
            border-radius: 4px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            margin-right: 4px;
        }

        .demo-upload-list img {
            width: 100%;
            height: 100%;
        }

        .demo-upload-list-cover {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, .6);
        }

        .demo-upload-list:hover .demo-upload-list-cover {
            display: block;
        }

        .demo-upload-list-cover i {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 0 2px;
        }

    </style>
</head>
<body>
<div id="app">
    <div class="head">10月15日</div>
    <div class="edit">
        <div class="editInner">
            <textarea></textarea>
        </div>
    </div>
    <div class="uploadBox">
        <div class="demo-upload-list" v-for="item in beforUpload">

                <img :src="item.url">
                <div class="demo-upload-list-cover">
                    <Icon type="ios-eye-outline" @click.native="handleView(item.name)"></Icon>
                    <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
                </div>
        </div>
        <Upload
                ref="upload"
                :show-upload-list="false"
                :default-file-list="defaultList"
                :on-success="handleSuccess"
                :format="['jpg','jpeg','png']"
                :max-size="2048"
                :on-format-error="handleFormatError"
                :on-exceeded-size="handleMaxSize"
                :before-upload="handleBeforeUpload"
                multiple
                type="drag"
                action="//jsonplaceholder.typicode.com/posts/"
                style="display: inline-block;width:58px;">
            <div style="width: 58px;height:58px;line-height: 58px;">
                <Icon type="ios-camera" size="20"></Icon>
            </div>
        </Upload>
        <!--<Modal title="View Image" v-model="visible">-->
            <!--<img :src="'https://o5wwk8baw.qnssl.com/' + imgName + '/large'" v-if="visible" style="width: 100%">-->
        <!--</Modal>-->


    </div>
    <div class="kg">
        <div class="kgTip">需发送收到回执</div>
        <div class="onOff">
            <div class="switch">
                <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="send">
        <button class="ui-btn-lg ui-btn-primary" @click="submit">发送通知</button>
    </div>

</div>

<script>
    var vm = new Vue({
        el: "#app",
        data: function () {
            return {
                defaultList: [
                    {
                        'name': 'a42bdcc1178e62b4694c830f028db5c0',
                        'url': 'https://o5wwk8baw.qnssl.com/a42bdcc1178e62b4694c830f028db5c0/avatar'
                    },
                    {
                        'name': 'bc7521e033abdd1e92222d733590f104',
                        'url': 'https://o5wwk8baw.qnssl.com/bc7521e033abdd1e92222d733590f104/avatar'
                    }
                ],
                imgList:[],
                imgName: '',
                visible: false,
                uploadList: [],
                beforUpload:[]
            }
        },
        methods: {
            submit:function (e) {
                console.log('提交信息');
              //提交信息
                // 要提交的信息
               this.uploadList;
               //提交成功后清楚 预览列表
              this.beforUpload=[];
            },
            handleView: function (name) {
                this.imgName = name;
                this.visible = true;
            },
            handleRemove: function (file) {
                const fileList = this.$refs.upload.fileList;
                this.$refs.upload.fileList.splice(fileList.indexOf(file), 1);
            },
            handleSuccess: function (res, file) {
                file.url = 'https://o5wwk8baw.qnssl.com/7eb99afb9d5f317c912f08b5212fd69a/avatar';
                file.name = '7eb99afb9d5f317c912f08b5212fd69a';
            },
            handleFormatError: function (file) {
                this.$Notice.warning({
                    title: 'The file format is incorrect',
                    desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
                });
            },
            handleMaxSize: function (file) {
                this.$Notice.warning({
                    title: 'Exceeding file size limit',
                    desc: 'File  ' + file.name + ' is too large, no more than 2M.'
                });
            },
            handleBeforeUpload: function (file) {
                console.log(file, "sss", this.uploadList);
                var imgArray = this.beforUpload;
                 if(imgArray.length>=5){
                     this.$Message.info('一次最多上传5张');
                     return;
                 }
                    var imgpath = URL.createObjectURL(file);
                    var imgobj = {};
                    imgobj['url'] = imgpath;
                    imgobj['name'] = file.name;
                    imgArray.push(imgobj);
                console.log("imgArray", imgArray);
               this.imgList=imgArray;
                this.beforUpload=imgArray;
                const check = this.uploadList.length < 5;
                if (!check) {
                    this.$Notice.warning({
                        title: 'Up to five pictures can be uploaded.'
                    });
                }
                return false;
            }
        },
        mounted: function () {
            this.uploadList = this.$refs.upload.fileList;
        }
    })
</script>
</body>
</html>